@font-face {
  font-family: 'iconfont'; /* Project id 4520845 */
  src:
    url('@/assets/iconfont/iconfont.woff2?t=1714021624233') format('woff2'),
    url('@/assets/iconfont/iconfont.woff?t=1714021624233') format('woff'),
    url('@/assets/iconfont/iconfont.ttf?t=1714021624233') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shortcut:before {
  content: '\e691';
}

.icon-setting:before {
  content: '\e654';
}

.icon-management:before {
  content: '\e6a3';
}
