body {
  margin: 0;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  // font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: var(--el-text-color-primary);
}

//===== 滚动条样式 =====//
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #cccccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}
//====================//
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  text-align: center;
  color: var(--el-color-info);
  padding: 20px 0;
}

.card {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.775);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] .card {
  background-color: rgba(0, 0, 0, 0.375);
}
