.main-color {
  color: var(--el-color-primary) !important;
}

.danger-color {
  color: var(--el-color-danger) !important;
}

.success-color {
  color: var(--el-color-success) !important;
}

.warning-color {
  color: var(--el-color-warning) !important;
}

.info-color {
  color: var(--el-color-info) !important;
}
