@font-face {
  font-family: 'iconfont'; /* Project id 4520845 */
  src:
    url('//at.alicdn.com/t/c/font_4520845_nyn9mk6fqn7.woff2?t=1713866241618') format('woff2'),
    url('//at.alicdn.com/t/c/font_4520845_nyn9mk6fqn7.woff?t=1713866241618') format('woff'),
    url('//at.alicdn.com/t/c/font_4520845_nyn9mk6fqn7.ttf?t=1713866241618') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shortcut:before {
  content: '\e691';
}

.icon-setting:before {
  content: '\e654';
}

.icon-management:before {
  content: '\e6a3';
}
