// @use 'element-plus/theme-chalk/src/index.scss' as *;

:root {
  --el-color-primary: #406ff3;
  --el-color-success: #a5dd9b;
  --el-color-warning: #f6f193;
  --el-color-danger: #ff7396;
  --el-color-error: #ff7396;
  //   --el-text-color-primary: #625442;
}

:root[data-theme='dark'] {
  --el-bg-color: #000;

  --el-color-primary: #ff9000;
  --el-text-color-primary: #fff;
}
